@import "tailwindcss";

:root {
  /* Палитра Oxytocin */
  --background: #FDFBF7; 
  --foreground: #4A403A; 
  
  --primary: #E09F7D;    
  --primary-hover: #D08A68;
  
  --secondary: #A8C6B9; 
  
  --accent: #F4E4D8;     
  --card: #FFFFFF;      
  
  --text-muted: #968B83; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  padding-bottom: 80px; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
